<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Inyeccion por setter -->
    <bean id="HolaMundo" class="com.example.demowebprojectee.HolaMundo">
        <property name="message" value="#{ systemProperties['os.name'] }" />
    </bean>

    <!-- Inyeccion por constructor  -->
    <bean id="holaMundo2" class="com.example.demowebprojectee.HolaMundo">
        <constructor-arg name="message" value="construyendo hola Mundo parametrizado" />
    </bean>

</beans>
